
<div *ngIf="station">
    <h2><span>Station</span> {{station.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Code</span></dt>
        <dd>
            <span>{{station.code}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{station.description}}</span>
        </dd>
        <dt><span>Valid To</span></dt>
        <dd>
            <span>{{station.validTo | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Valid From</span></dt>
        <dd>
            <span>{{station.validFrom | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'station/'+ station.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
